
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Cooming Soon</title>

    <link href="~/Content/what.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/fontawesome/css/all.css" />

</head>
<body>
    <div class="page-wrap" style="padding:5%;">
        <div class="row">
            <div class="col-12 text-center">
                <h1 style="font-family:monospace; font-weight:bold; color:#183153;">Questions And Answers!</h1>
                <div class="text-center" style="color:#183153;">Here’s more details on Version 0.1. If you need something more, <a href="https://en.wikipedia.org/wiki/Social_shopping" style="text-decoration:none;"> Should you need something more</a>.</div>
            </div>
        </div>
        <div class="row" style="padding-left:10%;padding-right:10%;padding-top:10%;">
            <div class="col-9">
                <div class="row" style="padding:2%;">
                    <div class="col-1">
                        <i style="font-size: 1em; color:#183153;" class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="col-11">
                        <div class="font-weight-bold" style="color:#183153;">
                            What does Version 6 include?
                        </div>
                        <div class="text-left" style="color:#183153;">
                            Version 6 is the next major iteration of Font Awesome. It will include everything in the Font Awesome 5 you know and love along with plenty of improvements and new additions. While we'll be releasing content and features over time as we always have, we've got some big things planned for the initial launch and 6's first steps including:
                            <ul style="list-style-type:disc">
                                <li>Icon updates, fixes and additions</li>
                                <li>A thin of all existing icons</li>
                                <li>A sharp family of all existing styles(solid, regular, light, thin, and duotone)</li>
                                <li>More packages and plugins - Rails+ Django + WordPress</li>
                                <li>CSS Custom Properties in our support styling toolkit</li>
                                <li>An official Font Awesome Web Component</li>
                                <li>Upload your own icons into kit</li>
                                <li>Desktop Subsetter app for easily bundling just the icons you need on a poroject</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:2%;">
                    <div class="col-1">
                        <i style="font-size: 1em; color:#183153;" class="fas fa-business-time"></i>
                    </div>
                    <div class="col-11">
                        <div class="font-weight-bold" style="color:#183153;">
                            When will Version 6.0 be available?
                        </div>
                        <div class="text-left" style="color:#183153;">
                            We're planning on an initial release of Version 6 in the second half of 2020 with features and content rolling out like an Autobot after that. We'll be launching with a ton of icon updates, our new thin style, and more.
                            <br />
                            As features and new content become available, we'll be sending updates to our plan holders and announcements to the larger community.
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:2%;">
                    <div class="col-1">
                        <i style="font-size: 1em; color:#183153;" class="fas fa-paper-plane"></i>
                    </div>
                    <div class="col-11">
                        <div class="font-weight-bold" style="color:#183153;">
                            How will Version 6 be available?
                        </div>
                        <div class="text-left" style="color:#183153;">
                            Both the Free and Pro versions of Font Awesome 6 will be available in a couple of different formats - as an icon font as well as individual SVGs. You may download copies of each for Font Awesome Free and if you hold a license for Pro, the same goes for Pro-only assets. Both formats also come with styling frameworks and ligature-based icon fonts to make working on the web and desktop respectively easier.
                            <br />
                            Additionally, Version 6 will be available across our services like our CDNs, Kits, and packages. The Free version will be available to Free plans while the Pro version will be available to active Pro-level plan subscribers.
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:2%;">
                    <div class="col-1">
                        <i style="font-size: 1em; color:#183153;" class="fas fa-tools"></i>
                    </div>
                    <div class="col-11">
                        <div class="font-weight-bold" style="color:#183153;">
                            Is Version 5 still being supported?
                        </div>
                        <div class="text-left" style="color:#183153;">
                            Yes, Font Awesome 5 will still be officially supported until we announce otherwise. However, all new icons, features, and services will be under the umbrella of Version 6. We'll continue to provide fixes for bugs and issues in Version 5.
                            <br />
                            Existing services like Kits, Pro CDN, and packages, that provide access to Version 5 will also continue to be available until further notice.
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:2%;">
                    <div class="col-1">
                        <i style="font-size: 1em; color:#183153;" class="fas fa-hand-holding-heart"></i>
                    </div>
                    <div class="col-11">
                        <div class="font-weight-bold" style="color:#183153;">
                            I Kickstarted or Pre-ordered Font Awesome 5. Will I get Version 6?
                        </div>
                        <div class="text-left" style="color:#183153;">
                            First of all, thanks much for being one of the original supporters of Font Awesome 5 - we got so much accomplished with your help.
                            <br /><br />
                            You have a perpetual license to Version 5. This means you can keep using Font Awesome 5's Pro assets as long as you like on as many web, print, and mobile projects you like. And you'll get updates to Version 5 for life! You've also got access to all of the original Kickstarter rewards. As part of your rewards, you also received over 2 years of access to Pro-level services like our CDN, kits, and npm packages.
                            <br /><br />
                            To get all the goodies in Version 6 and keep using your services, you’ll need to get to a Pro-level plan by pre-ordering or subscribing.
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:2%;">
                    <div class="col-1">
                        <i style="font-size: 1em; color:#183153;" class="fas fa-drafting-compass"></i>
                    </div>
                    <div class="col-11">
                        <div class="font-weight-bold" style="color:#183153;">
                            What sizes and fits are available for the t-shirts?
                        </div>
                        <div class="text-left" style="color:#183153;">
                            Cotton Bureau, who produces our shirts, provides fits for men, women, and children. They also have a large range of sizes and shirt styles. You can read more about those in their help info.
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:2%;">
                    <div class="col-1">
                        <i style="font-size: 1em; color:#183153;" class="fas fa-exchange-alt"></i>
                    </div>
                    <div class="col-11">
                        <div class="font-weight-bold" style="color:#183153;">
                            How do you handle returns or order problems?
                        </div>
                        <div class="text-left" style="color:#183153;">
                            Since any purchases are made through Cotton Bureau, Font Awesome cannot directly help with any returns or problems with orders. Cotton Bureau has an official return policy and help if your order gets lost or you messed up order details.
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:2%;">
                    <div class="col-1">
                        <i style="font-size: 1em; color:#183153;" class="fas fa-question-circle"></i>
                    </div>
                    <div class="col-11">
                        <div class="font-weight-bold" style="color:#183153;">
                            Are there any guidelines when commissioning icons?
                        </div>
                        <div class="text-left" style="color:#183153;">
                            You betcha:<br/><br/>
                            <ul>
                                <li>
                                    Icons are designed in a single color (with some opacity applied to the duotone style of the icon).
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12"><h4 style="font-family:monospace; font-weight:bold; color:#183153;">Usefull links</h4></div>
                </div>
                <div class="row">
                    <div class="col-12">
                       @Html.ActionLink("Home", "Index", "Home", null, new { @style="text-decoration-line:underline; text-decoration-style:dotted; margin-top:5%; padding:5%; font-weight:bold;"})
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @Html.ActionLink("Pour some opinions", "opinions", "soon", null, new { @style = "text-decoration-line:underline; text-decoration-style:dotted; margin-top:5%; padding:5%; font-weight:bold;" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @Html.ActionLink("Email us", "email", "soon", null, new { @style = "text-decoration-line:underline; text-decoration-style:dotted; margin-top:5%; padding:5%; font-weight:bold;" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @Html.ActionLink("have some playlist", "playlist", "soon", null, new { @style = "text-decoration-line:underline; text-decoration-style:dotted; margin-top:5%; padding:5%; font-weight:bold;" })
                    </div>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>

    <div class="site-footer">
        <p class="text-center">&copy; @DateTime.Now.Year - Bongani Qunta Production</p>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Content/fontawesome/js/all.js"></script>

</body>
</html>
